{% extends "base.html" %}

{% block title %}Liste des Stages{% endblock %}

{% block content %}
    <h2>Liste des Stages</h2>

    <a href="/internship/add" class="btn btn-primary mb-3">Ajouter un Stage</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'enseignant</th>
                <th>Type de stage</th>
                <th>Voiture nécessaire</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for internship in internships %}
                <tr>
                    <td>{{ internship.first_name }} {{ internship.last_name }}</td> <!-- Teacher name -->
                    <td>{{ internship.intern_type.name }}</td> <!-- Type of internship -->
                    <td>{{ 'Oui' if internship.car_needed else 'Non' }}</td>
                    <td>{{ internship.start_date }}</td>
                    <td>{{ internship.end_date }}</td>
                    <td>
                        <a href="/internship/edit/{{ internship.id }}" class="btn btn-warning">Modifier</a>
                        <a href="/internship/cancel/{{ internship.id }}" class="btn btn-danger">Annuler</a>
                        <a href="/internship/done/{{ internship.id }}" class="btn btn-success">Terminer</a>
                        <a href="/internship/details/{{ internship.id }}" class="btn btn-info">Détails</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
