{% extends 'base.html' %}

{% block title %}Edit Department{% endblock %}

{% block content %}
    <h1>Edit Department</h1>
    <form action="{{ url_for('edit_department', department_id=department.id) }}" method="POST">
        <label for="name">Department Name:</label>
        <input type="text" id="name" name="name" value="{{ department.name }}" required><br>
        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="{{ url_for('department_list') }}">Back to Department List</a>
{% endblock %}
