{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <form action="{{ url_for('edit_user', user_id=user.id) }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br>

        <label for="role">Role:</label>
        <select name="role" id="role" required>
            <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
            <option value="teacher" {% if user.role == 'teacher' %} selected {% endif %}>Teacher</option>
            <option value="car_manager" {% if user.role == 'car_manager' %} selected {% endif %}>Car Manager</option>
        </select><br>

        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="{{ url_for('list_users') }}">Back to User List</a>
{% endblock %}
