{% extends 'base.html' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block content %}
<h3>Ajouter un utilisateur</h3>

<form method="POST" action="/register">
  <div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="mb-3">
    <label for="role" class="form-label">Rôle</label>
    <select class="form-control" id="role" name="role" required>
      <option value="admin">Admin</option>
      <option value="teacher">Professeur</option>
      <option value="car">Logistique (Responsable des voitures)</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter l'utilisateur</button>
</form>

{% endblock %}
